.gamescreen {
  margin: 5rem 0px;
}

.score {
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem 0px;
}

.gameButton{
    width: 100%;
    margin-top: 1rem;
    color: F5F7FB;
}

.loading--logo{
  margin: 0;
  width: 35rem;
  height: 35rem;
  animation: loaging-logo  2s  ease-in infinite;
}

hr{
  border: 0.5px solid #8589a074;
  margin: 1.2rem 0px;
  width: 100%;
}

@keyframes loaging-logo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
  
