.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }

  .home--content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .home--logo{
    width: 35rem;
    height: 35rem;
    margin-bottom: 2rem;
    animation: home-logo ease-out 1.5s;
  }
  
  .home--options{
    display: flex;
    flex-direction: column;
    align-items: start;
    animation: home-start ease-out 1.5s ;
  }
  
  input{
    margin: 0.5rem 0px;
    padding: 0.5rem 0.7rem;
    border: 0.1rem solid #4D5B9E;
    border-radius: 7.71045px;
    width: 20rem;
  }
  
  .home--options button{
    margin-top: 1rem;
    width: 100%;
  }

  @keyframes home-logo {
    0% {
      opacity: 0;
      transform: translateX(200px);
    }
    80% {
      opacity: 1;
      transform: translateX(200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  @keyframes home-start {
    0% {
      opacity: 0;
      transform: translateY(200px);
    }
    75%{
      opacity: 0;
      transform: translateY(200px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }