footer{
    margin-top: 5rem;
    background-color: #293264;
    color: #DEEBF8;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 3.5rem;
    width: 100%;
}