.start--screen{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 14rem;
    margin-top: 22vh;
  }
  
  .start--screen-logo{
    width: 30rem;
    height: 30rem;
    margin-bottom: 2rem;
    animation: logo 2s;
  }
  
  form{
    display: flex;
    flex-direction: column;
    align-items: start;
    animation: game-screen--input 2s ;
  }
  
  form input{
    margin: 0.5rem 0px;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    border: 0.1rem solid #4D5B9E;
    border-radius: 7.71045px;
    width: 20rem;
  }
  
  form button{
    margin-top: 1rem;
    width: 100%;
  }